:root {
  --text-color: #000000;
  --btn-bg-color: #000000;
  --second-text-color: #b92f2c;
  --btn-bg-second-color: #b92f2c;
  --bg-color: #f0f0f0;
  --text-main-color: #ffffff;
  --btn-bg-main-color: #ffffff;

  [dark] {
      --text-color: #f0f0f0;
      --second-text-color: #b92f2c;
  
      --bg-color: #333;
  
      --btn-bg-main-color: #333;
      --btn-bg-second-color: #b92f2c;
    }
 

}
