:root {
  --text-color: #000000;
  --second-text-color: #b92f2c;

  --bg-color: #f0f0f0;

  --btn-bg-main-color: #ffffff;
  --btn-bg-second-color: #b92f2c;
  --btn-bg-second-dark-color: #000000;
  --btn-text-color: #ffffff;
  /*--icon-bg-svg: url(/src/images/icons.svg#icon-sun);*/
}
