:root {
  --text-color: #000000;
  --second-text-color: #b92f2c;
  //   --accent-text-color: #f8d24e;

  //   --button-color: #f8d24e;
  //   --second-button-color: #0a8817;
  //   --button-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.38);

  --bg-color: #f0f0f0;
  //   --base-cubic-transition: cubic-bezier(0.4, 0, 0.2, 1);

  --btn-bg-main-color: #ffffff;
  --btn-bg-second-color: #b92f2c;
}
