<li class="film__card">        
        <img class="film__img" src="/src/images/bg/bg-red-mob.jpg"/>
        <p class="film__name">Progect</p>
            <div class="film__atribute">
                 <p class="film__ganre">Drama, Action</p>
                <p class="film__year">2023</p>
            </div>
    </li>