<div class="modal-login">
  <div class="container">
    <form class="login">
      <p class="login__welcome">
        <span class="login__hello"></span>
        <span class="login__name"></span>
      </p>
      <input
        class="login__email"
        type="email"
        name="email"
        placeholder="Email"
      />
      <input
        class="login__password"
        type="password"
        name="password"
        placeholder="password"
      />
      <button class="login__btn-in btn" type="submit" data-log="login">
        Sign In
      </button>
      <button class="login__btn-reg btn" type="submit" data-reg="registration">
        Registration
      </button>
    </form>
  </div>
</div>
