<div class="footer-backdrop modal-students">
  <div class="student-modal">
    <h2 class="student-modal-header">Meet our team!</h2>
    <ul class="students-list">
      <li class="student-item">
        <div class="student-wrap"></div>
        <div class="student-text-wrap">
          <p class="student-name">Lorem ipsum</p>
          <p class="student-post">Team leader</p>
        </div>
      </li>
      <li class="student-item">
        <div class="student-wrap"></div>
        <div class="student-text-wrap">
          <p class="student-name">Lorem ipsum</p>
          <p class="student-post">Scrum master</p>
        </div>
      </li>
      <li class="student-item">
        <div class="student-wrap"></div>
        <div class="student-text-wrap">
          <p class="student-name">Lorem ipsum</p>
          <p class="student-post">Developer</p>
        </div>
      </li>
      <li class="student-item">
        <div class="student-wrap"></div>
        <div class="student-text-wrap">
          <p class="student-name">Lorem ipsum</p>
          <p class="student-post">Developer</p>
        </div>
      </li>
      <li class="student-item">
        <div class="student-wrap"></div>
        <div class="student-text-wrap">
          <p class="student-name">Lorem ipsum</p>
          <p class="student-post">Developer</p>
        </div>
      </li>
      <li class="student-item">
        <div class="student-wrap"></div>
        <div class="student-text-wrap">
          <p class="student-name">Lorem ipsum</p>
          <p class="student-post">Developer</p>
        </div>
      </li>
      <li class="student-item">
        <div class="student-wrap"></div>
        <div class="student-text-wrap">
          <p class="student-name">Lorem ipsum</p>
          <p class="student-post">Developer</p>
        </div>
      </li>
      <li class="student-item">
        <div class="student-wrap"></div>
        <div class="student-text-wrap">
          <p class="student-name">Lorem ipsum</p>
          <p class="student-post">Team leader</p>
        </div>
      </li>
      <li class="student-item">
        <div class="student-wrap"></div>
        <div class="student-text-wrap">
          <p class="student-name">Lorem ipsum</p>
          <p class="student-post">Scrum master</p>
        </div>
      </li>
      <li class="student-item">
        <div class="student-wrap"></div>
        <div class="student-text-wrap">
          <p class="student-name">Lorem ipsum</p>
          <p class="student-post">Developer</p>
        </div>
      </li>
      <li class="student-item">
        <div class="student-wrap"></div>
        <div class="student-text-wrap">
          <p class="student-name">Lorem ipsum</p>
          <p class="student-post">Developer</p>
        </div>
      </li>
      <li class="student-item">
        <div class="student-wrap"></div>
        <div class="student-text-wrap">
          <p class="student-name">Lorem ipsum</p>
          <p class="student-post">Developer</p>
        </div>
      </li>
      <li class="student-item">
        <div class="student-wrap"></div>
        <div class="student-text-wrap">
          <p class="student-name">Lorem ipsum</p>
          <p class="student-post">Developer</p>
        </div>
      </li>
      <li class="student-item">
        <div class="student-wrap"></div>
        <div class="student-text-wrap">
          <p class="student-name">Lorem ipsum</p>
          <p class="student-post">Developer</p>
        </div>
      </li>
      <li class="student-item">
        <div class="student-wrap"></div>
        <div class="student-text-wrap">
          <p class="student-name">Lorem ipsum</p>
          <p class="student-post">Developer</p>
        </div>
      </li>
    </ul>
  </div>
</div>
