<div class="footer-backdrop modal-students">
  <div class="student-modal">
    <button type="button" class="close-btn">
      <svg
        width="20"
        height="20"
        viewBox="0 0 30 30"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M8 8L22 22" stroke="black" stroke-width="2"></path>
        <path d="M8 22L22 8" stroke="black" stroke-width="2"></path>
      </svg>
    </button>
    <h2 class="student-modal-header">Meet our team!</h2>
    <ul class="students-list">
      <li class="student-item">
        <div
          class="student-wrap"
          style="
            background-image: url(./images/student-modal-bgr/man1.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: left 3px bottom -7px;
          "
        ></div>
        <div class="student-text-wrap">
          <p class="student-name">Роман</p>
          <p class="student-post">Team leader</p>
        </div>
      </li>
      <li class="student-item">
        <div
          class="student-wrap"
          style="
            background-image: url(./images/student-modal-bgr/man2.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
          "
        ></div>
        <div class="student-text-wrap">
          <p class="student-name">Максим</p>
          <p class="student-post">Scrum master</p>
        </div>
      </li>
      <li class="student-item">
        <div
          class="student-wrap"
          style="
            background-image: url(./images/student-modal-bgr/man3.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: left 10px bottom -7px;
          "
        ></div>
        <div class="student-text-wrap">
          <p class="student-name">Дмитро</p>
          <p class="student-post">Developer</p>
        </div>
      </li>
      <li class="student-item">
        <div
          class="student-wrap"
          style="
            background-image: url(./images/student-modal-bgr/man4.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: left 3px bottom -7px;
          "
        ></div>
        <div class="student-text-wrap">
          <p class="student-name">Сергій</p>
          <p class="student-post">Developer</p>
        </div>
      </li>
      <li class="student-item">
        <div
          class="student-wrap"
          style="
            background-image: url(./images/student-modal-bgr/woman1.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
          "
        ></div>
        <div class="student-text-wrap">
          <p class="student-name">Анастасія</p>
          <p class="student-post">Developer</p>
        </div>
      </li>
      <li class="student-item">
        <div
          class="student-wrap"
          style="
            background-image: url(./images/student-modal-bgr/man5.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: left 10px bottom -7px;
          "
        ></div>
        <div class="student-text-wrap">
          <p class="student-name">Владислав</p>
          <p class="student-post">Developer</p>
        </div>
      </li>
      <li class="student-item">
        <div
          class="student-wrap"
          style="
            background-image: url(./images/student-modal-bgr/man6.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
          "
        ></div>
        <div class="student-text-wrap">
          <p class="student-name">Євген</p>
          <p class="student-post">Developer</p>
        </div>
      </li>
      <li class="student-item">
        <div
          class="student-wrap"
          style="
            background-image: url(./images/student-modal-bgr/man7.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: left 3px bottom -3px;
          "
        ></div>
        <div class="student-text-wrap">
          <p class="student-name">Ілля</p>
          <p class="student-post">Team leader</p>
        </div>
      </li>
      <li class="student-item">
        <div
          class="student-wrap"
          style="
            background-image: url(./images/student-modal-bgr/man2.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
          "
        ></div>
        <div class="student-text-wrap">
          <p class="student-name">Антон</p>
          <p class="student-post">Scrum master</p>
        </div>
      </li>
      <li class="student-item">
        <div
          class="student-wrap"
          style="
            background-image: url(./images/student-modal-bgr/man4.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
          "
        ></div>
        <div class="student-text-wrap">
          <p class="student-name">Максим</p>
          <p class="student-post">Developer</p>
        </div>
      </li>
      <li class="student-item">
        <div
          class="student-wrap"
          style="
            background-image: url(./images/student-modal-bgr/woman3.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
          "
        ></div>
        <div class="student-text-wrap">
          <p class="student-name">Анна</p>
          <p class="student-post">Developer</p>
        </div>
      </li>
      <li class="student-item">
        <div
          class="student-wrap"
          style="
            background-image: url(./images/student-modal-bgr/man3.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: left 10px bottom -7px;
          "
        ></div>
        <div class="student-text-wrap">
          <p class="student-name">Сергій</p>
          <p class="student-post">Developer</p>
        </div>
      </li>
      <li class="student-item">
        <div
          class="student-wrap"
          style="
            background-image: url(./images/student-modal-bgr/woman2.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
          "
        ></div>
        <div class="student-text-wrap">
          <p class="student-name">Тетяна</p>
          <p class="student-post">Developer</p>
        </div>
      </li>
    </ul>
  </div>
</div>
