.basicLightbox--visible {
  opacity: 1;
}
.modal-movie {
  position: relative;
  width: 280px;
  height: 500px;
  padding: 48px 20px 20px;
  background-color: #fff;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  @media screen and (min-width: 768px) {
    display: flex;
    width: 704px;
    height: 552px;
    padding: 40px 72px 64px 36px;
  }
  @media screen and (min-width: 1280px) {
    width: 806px;
    height: 558px;
    padding: 40px 12px;
  }
}

.modal-movie::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.movie-modal__content {
  @media screen and (min-width: 768px) {
    margin-left: 68px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 16px;
  }
}
.modal-movie__img {
  display: block;

  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    margin: 0;
  }
}
.modal-movie__title {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-transform: uppercase;

  color: #000000;

  margin-bottom: 20px;
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: calc(35 / 30);
  }
}

.modal-movie__wrap-text {
  margin-bottom: 20px;
}

.modal-movie__about {
  text-transform: uppercase;

  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);

  margin-bottom: 8px;
}
.modal-movie__desc {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(20 / 12);

  margin-bottom: 20px;
}
.modal-movie__Watch {
  display: block;
  width: 100%;
  max-width: 165px;
  padding: 10px 0;
  margin-right: 4px;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 100px;

  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);

  color: #b92f2c;
  &:hover,
  &:focus {
    background-color: #b92f2c;
    box-shadow: 0px 0px 7px rgba(27, 27, 27, 0.15);

    color: #ffffff;
  }
  @media screen and (min-width: 1280px) {
    padding: 14px 0;
  }
}
.modal-movie__queue {
  display: block;
  width: 100%;
  max-width: 134px;
  padding: 10px 0;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 100px;

  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);

  color: #b92f2c;
  &:hover,
  &:focus {
    background-color: #b92f2c;
    box-shadow: 0px 0px 7px rgba(27, 27, 27, 0.15);

    color: #ffffff;
  }
  @media screen and (min-width: 1280px) {
    padding: 14px 0;
  }
}
.modal-movie__btn-wrap {
  display: flex;
}

.modal-movie__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: transparent;
  border: none;
  width: 30px;
  height: 30px;

  font-size: 25px;
}

.modal-movie__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
}

.movie-modal__list-item {
  display: flex;
  & p {
    font-weight: 500;
    font-size: 12px;
    line-height: calc(16 / 12);
    color: #8c8c8c;
  }
  & span {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(16 / 12);
    color: #000000;
  }
  & .active {
    padding: 1 10px;
    background-color: #b92f2c;
    color: #ffffff;
    border-radius: 5px;
  }
}
