.modal-open {
  overflow: hidden;
  padding-right: 15px;
}
.modal-movie {
  position: relative;
  width: 280px;

  height: 600px;
  padding: 48px 20px 20px;

  background-color: var(--bg-color);
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  @media screen and (min-width: 768px) {
    display: flex;
    width: 704px;
    height: auto;
    // height: 552px;
    // padding: 40px 72px 64px 36px;
    padding: 40px 36px;
  }
  @media screen and (min-width: 1280px) {
    width: 806px;
    height: auto;
    // height: 558px;
    // padding: 40px 12px;
    padding: 40px 72px 64px 36px;
  }
}

.modal-movie::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.movie-modal__content {
  @media screen and (min-width: 768px) {
    margin-left: 30px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 64px;
  }
}
.modal-movie__img {
  display: block;
  max-width: 375px;
  height: auto;
  object-fit: contain;

  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    margin: 0;
  }
}
.modal-movie__title {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-transform: uppercase;

  color: var(--text-color);

  margin-bottom: 20px;
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: calc(35 / 30);
  }
}

.modal-movie__wrap-text {
  margin-bottom: 20px;
}

.modal-movie__about {
  text-transform: uppercase;

  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);

  margin-bottom: 8px;
}
.modal-movie__desc {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(20 / 12);

  margin-bottom: 20px;
}
.modal-movie__Watch {
  display: block;
  width: 100%;
  height: 60px;
  max-width: 165px;
  padding: 10px 7px;
  margin-right: 4px;
  text-transform: uppercase;
  // background-color: transparent;
  border: 1px solid #000000;
  border-radius: 100px;

  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);

  color: var(--second-text-color);
  &:hover,
  &:focus {
    background-color: var(--second-text-color);
    border-color: var(--second-text-color);
    box-shadow: 0px 0px 7px rgba(27, 27, 27, 0.15);

    color: var(--text-main-color);
  }
  @media screen and (min-width: 1280px) {
    padding: 14px 7px;
  }
}
.modal-movie__queue {
  display: block;
  width: 100%;
  height: 60px;
  max-width: 134px;
  padding: 10px 10px;
  text-transform: uppercase;
  // background-color: transparent;
  border: 1px solid #000000;
  border-radius: 100px;

  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);

  color: var(--second-text-color);
  &:hover,
  &:focus {
    background-color: var(--second-text-color);
    border-color: var(--second-text-color);
    box-shadow: 0px 0px 7px rgba(27, 27, 27, 0.15);

    color: var(--text-main-color);
  }
  @media screen and (min-width: 1280px) {
    padding: 14px 10px;
  }
}
.modal-movie__btn-wrap {
  display: flex;
}

.modal-movie__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #f0f0f0;
  border-radius: 100%;
  border: none;
  width: 30px;
  height: 30px;

  font-size: 25px;
  &:hover {
    background-color: var(--second-text-color);
    border-radius: 50%;
  }
}

.modal-movie__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
}

.movie-modal__list-item {
  display: flex;
  justify-content: start;
  margin-bottom: 8px;
  & p {
    @media screen and (min-width: 320px) {
      flex-basis: calc(100% / 2);
    }

    @media screen and (min-width: 768px) {
      flex-basis: calc(100% / 3);
    }
    font-weight: 500;
    font-size: 12px;
    line-height: calc(16 / 12);
    color: #8c8c8c;
  }
  & span {
    @media screen and (min-width: 320px) {
      flex-basis: calc(100% / 2);
    }

    @media screen and (min-width: 768px) {
      flex-basis: calc(100% * 2 / 3);
    }
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(16 / 12);
    color: var(--text-color);
  }
  & .active {
    padding: 1 10px;
    background-color: var(--second-text-color);
    color: var(--btn-text-color);
    border-radius: 5px;
  }
}
