.student-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 300px;
  min-height: auto;
  padding: 15px 15px;
  transform: translate(-50%, -50%);
  background-color: var(--bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 40px;

  @media screen and (min-width: 768px) {
    width: 500px;
    min-height: auto;
    padding: 20px 20px;
  }

  @media screen and (min-width: 1200px) {
    width: 700px;
    min-height: auto;
    padding: 35px 35px;
  }
}

.close-btn {
  display: flex;
  position: absolute;
  top: 20px;
  right: 35px;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 30px;
  height: 30px;
  color: #000;
  background-color: transparent;
  border: none;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--second-text-color);
  }
}

.student-modal-header {
  display: flex;
  justify-content: center;
  margin-bottom: 7px;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  line-height: calc(30 / 20);
  @media screen and (min-width: 1200px) {
    margin-bottom: 15px;
  }
}

.students-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-height: 418px;
  overflow-y: scroll;
}

@media screen and (min-width: 768px) {
  .students-list {
    gap: 10px;
    height: auto;
    overflow-y: scroll;
    flex-direction: row;
  }

  .student-item {
    width: calc(50% - 5px);
  }
}
@media screen and (min-width: 1200px) {
  .students-list {
    gap: 15px;
  }
}

.student-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 180px;
  height: 200px;
  border-radius: 30px;
  background-color: #f7f7f7;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border: 4px solid rgba(0, 0, 0, 0.1);
}
.student-wrap {
  margin-top: 20px;
  width: 110px;
  height: 110px;
  background-color: inherit;
  border-radius: 110px;
  border: 4px solid var(--btn-bg-second-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.student-text-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-direction: column;
  width: 100%;
  height: 60px;
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
  background-color: rgba(0, 0, 0, 0.1);
}
.student-name {
  font-weight: 500;
  font-size: 14px;
}
.student-post {
  color: #545454;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
}
