.modal-login {
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
}

.login {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login__email,
.login__password {
  width: 100%;
  height: 40px;
  padding-left: 14px;
  border-radius: 100px;
  border: 2px solid #dfdfdf;
}

.login__welcome {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.login__hello {
  text-align: center;
}

.login__name {
  text-align: center;
}

.login__warning {
  height: 10px;
  padding-left: 14px;
  font-size: 10px;
  font-weight: 400;
  color: red;
}

.login__btn-wrap {
  display: flex;
  gap: 10px;
}

.login__btn-signout {
  display: none;
}

.login__btn-in,
.login__btn-reg,
.login__btn-signout {
  padding: 14px 32px;
  font-weight: 500;
}
