<div class="container header__container">
  <header class="header">
    <div class="header__button-wrap">
      <button class="header__button-home btn" type="button">Home</button>
      <button class="header__button-login btn" type="button">My Library</button>
    </div>

    <form class="header__form form">
      <input class="form__input" type="text" placeholder="Movie Search" />
      <button class="form__button" type="submit">
        <svg class="form__warning-svg" width="14" height="14">
          <use href="./images/icons.svg#icon-search"></use>
        </svg>
      </button>
    </form>
    <span class="form__warning isHide"
      >Search result not successful. Enter the correct movie name.</span
    >
  </header>
</div>
