<header class="header">
  <div class="header_container container">
    <div class="header_wrap_top">
      <nav class="nav">
        <ul class="nav_list">
          <li class="nav_item">
            <button class="btn_home btn">Home</button>
          </li>
          <li class="nav_item">
            <button class="btn_library btn">My Library</button>
          </li>
        </ul>
      </nav>
      <div class="search_form_block">
        <form class="search_form" action="#">
          <input class="search_input" type="text" placeholder="Movie Search" />
          <button class="search_btn">
            <svg class="search_btn_icon" width="15" height="15">
              <use href="./images/icons.svg#icon-search"></use>
            </svg>
          </button>
        </form>
        <p class="error_search js_error_search">
          Search result not successful. Enter the correct movie name.
        </p>
      </div>
    </div>

    <div class="header_wrap_bottom">
      <div class="logo_container">
        <svg class="logo_icon">
          <use href="./images/icons.svg#icon-logo-film"></use>
        </svg>
        <p class="logo_text">Filmoteka</p>
      </div>
      <ul class="watch_queue_list">
        <li class="watch_queue_item">
          <button class="btn_watch btn">Watched</button>
        </li>
        <li class="watch_queue_item">
          <button class="btn_queue btn">Queue</button>
        </li>
      </ul>
    </div>
  </div>
</header>
