<section class="pagination">
    
    <div class="container pagination tui-pagination" id ="tui-pagination-container">
        <button type="button" class="pagination__button arrow-left">
            <svg class="pagination__icon">
                <use href="images/pagination.svg#icon-arrow-left"></use>
            </svg>
        </button>
        <ul class="pagination__list">        
        </ul>
        <span class="pagination__dots">...</span>
        <button class="pagination__button "></button>
        <button type="button" class="pagination__button arrow-right">
            <svg class="pagination__icon">
                <use href="images/pagination.svg#icon-arrow-right"></use>
            </svg>
        </button>
    </div>
    
</section>
