#pagination {
    flex-shrink: 0;
    margin-bottom: 40px;
    margin-top: 0;
    @media (min-width: 768px) {
      margin-bottom: 60px;
    }
    .tui-page-btn {
      border: none;
      line-height: 1.2px;
      font-weight: 500;
      color: #000;
      &:hover {
        background-color: #F7F7F7;
      }
      @media (min-width: 768px) {
        font-size: 14px;
      }
    }
  
    .tui-is-selected {
      width: 25px;
      height: 25px;
      display: inline-flex;
      background-color:#B92F2C;
      color: white;
      border-radius: 5px;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      vertical-align: middle;
      &:hover {
        background-color: #B92F2C;
      }
      @media (min-width: 768px) {
        width: 40px;
        height: 40px;
      }
    }
    .tui-ico-first,
    .tui-ico-last {
      margin-top: 8px;
    }
    .tui-ico-first {
      @media (min-width: 768px) {
        margin-right: 10px;
      }
    }
    .tui-ico-last {
      @media (min-width: 768px) {
        margin-left: 10px;
      }
    }
    .tui-prev {
      margin-right: 5px;
      @media (min-width: 768px) {
        margin-right: 10px;
      }
    }
    .tui-next {
      margin-left: 5px;
      @media (min-width: 768px) {
        margin-left: 10px;
      }
    }
    .tui-prev,
    .tui-next {
      width: 25px;
      height: 25px;
  
      background-color: #f7f7f7;
      border-radius: 5px;
      position: relative;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:hover {
        color: white;
        background-color: #B92F2C;
      }
      @media (min-width: 768px) {
        width: 40px;
        height: 40px;
      }
    }
  
    .tui-ico-next,
    .tui-ico-prev {
      width: 16px;
      height: 16px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-position: center;
    }
    .tui-ico-prev {
      background-image: url('/src/images/icons.svg#icon-arrow');
    }
    .tui-ico-next {
      background-image: url('/src/images/icons.svg#icon-arrow');
      rotate: (180deg);
    }
  }
