.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    @media screen and (min-width: 320px) and (max-width: 767px) {
    .pagination {
        padding: 40px 0;
    }
    
    }
    @media screen and (min-width: 768px) {
    .pagination {
        padding: 60px 0;
    }
    }
    
    .pagination__button {
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin: 0 2px;
    background-color: transparent;
    border: none;
    color: #000000;
    cursor: pointer;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.333;
    }
    
    .pagination__button:hover {
    background-color: #B92F2C;
    color: #ffffff;
    border-radius: 5px;
    }
    
    .pagination__icon {
    width: 16px;
    height: 16px;
    }
    
    .arrow-left, .arrow-right {
    width: 40px;
    height: 40px;
    padding: 4px;
    border-radius: 5px;
    background-color: #F7F7F7;
    }
    
    @media screen and (max-width: 767px) {
    .pagination__dots {
        display: none;
    }
    }
    
    .pagination__dots {
    margin-right: 16px;
    margin-left: 16px;
    color: #000000;
    }
    
    .pagination__list {
    display: flex;
    align-items: center;
    }
    
    .pagination--current {
    background-color: #B92F2C;
    border-radius: 5px;
    color: #ffffff;
    }
