#pagination,
#search-pagination {
  display: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
  @media screen and (min-width: 768px) {
    margin: 60px 0;
  }
}

#pagination .tui-page-btn,
#search-pagination .tui-page-btn {
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);
  color: var(--text-color);
  &:hover {
    color: var(--text-main-color);
    background-color: var(--btn-pagin-color);
  };
  &:focus {
    color: var(--text-main-color);
    background-color: var(--btn-bg-second-color);
  };
  &.tui-prev,
  &.tui-next {
    margin-right: 0;
    margin-left: 0;
    background-color: var(--btn-pagin-color);
    &:hover, focus {
      color: var(--text-main-color);
      background-color: var(--btn-bg-second-color);
    };
  }
  & .tui-ico-ellip {
    margin: 0;
    background-color: var(--text-main-color);
  }
  &.tui-is-selected {
    background: var(--btn-bg-second-color);
    color: var(--text-main-color);
  }
  &.tui-first,
  &.tui-last {
    display: none;
    background-color: var(--btn-pagin-color);
    &:hover,
    &:focus {
      color: var(--text-main-color);
      background-color: var(--btn-bg-second-color)};
    @media screen and (min-width: 768px) {
      display: flex;
      }
  }

  &.tui-prev-is-ellip,
  &.tui-next-is-ellip {
    display: none;
    color: var(--text-main-color);
    @media screen and (min-width: 768px) {
      display: flex;
      &:hover,
      &:focus {
        color: var(--text-main-color);
     
      }

    }
  }
  @media screen and (min-width: 400px) {
    width: 40px;
    height: 40px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 60px;


    
    // &.tui-first,
    // &.tui-next {
    //   position: relative;
    //   transform: translateX(100%);
    // }
    // &.tui-prev,
    // &.tui-last {
    //   position: relative;
    //   transform: translateX(-100%);
    // }
  }
}
